@import "variable";

body {
  text-align: $base-text-align;
   margin: $base-margin * 0;
   font-family: 'Lato';
}

.masthead {
  background-color: $masthead-background-color;
  padding-inline-start: $base-padding;
  padding-inline-end: $base-padding;
}

.sport_app {
  max-width: 500px;
}


a {
  text-decoration: $base-text-decoration;
}

ul {
  list-style: none;
  padding: 0;
 }

 .bg-header {
   display: none;
 }

.explanation {
  margin-inline-start: auto;
  margin-inline-end: auto;
}
