@import "variable";

.download {
  padding-block-end: $base-padding * 4;
}

.download__navigation {
  display: $base-display;
  justify-content: space-around;
  flex-direction: row;
  margin-inline-start: $base-margin;
  padding: $base-padding * 0;
  padding-block-start: $base-padding * 5;
}

.app_store {
  background-image: url('../img/apple_store.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.google_play {
  background-image: url('../img/google_play.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-inline-start: 2rem;
}

.download__list_item {
  padding-block-start: $base-padding;
  padding-block-end: $base-padding;
  padding-inline-start: $base-padding * 0;
  padding-inline-start: $base-padding * 0;

}

.download__list_item__link {
  color: transparent;
  padding: $base-padding * 2;
  font-size: 16px;
}

// @mixin background-image($url, $position:100% 100%, $repeat: no-repeat) {
//   background: {
//       image: url($url);
//       position: $position;
//       repeat: $repeat;
//   }
// }

// .app_store {
//   @include background-image('apple-store.svg');
// }

// .google_play {
//   @include background-image('google_play.svg');
// }
