@import "variable";

.explanation__link {
  font-family: 'Lato';
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: $base-color;
}

.description {
  font-family: 'Lato';
  font-size: 16px;
  line-height: 26px;
  padding: $base-padding;
}

@media(min-width: 1025px) {
  .description {
    padding: $base-padding * 0;
  }
}
