@import "variable";
.features {
  background-color: #FAFAFA;
}

.features_container {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: $base-padding * 3;
  padding-block-end: $base-padding * 3;
}

.feature_header {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: $base-color;
  padding-block-start: 81px;
}

.feature__experience_navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $base-padding * 0;
}

.feature__experience_list-item {
  margin-block-start: $base-margin * 2;
}

.icon {
  margin: $base-margin * 0;
}
