@import "variable";

@media(min-width: 1025px) {

  .bg-header {
    display: block;
    margin-block-start: $base-margin;
  }


  .masthead {
    text-align: $base-text-align;
    display: $base-display;
    padding: 0;
    background-image: url('../img/bg__header.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  .masthead_heading--logo {
    font-size: 33px;
    line-height: 48px;
    letter-spacing: 0.03em;
    margin: $base-margin * 0;
    padding-block-end: 130px;
  }

  .desciption {
    font-size: 15px;
    line-height: 28px;
    padding-block-end: $base-padding * 0;
  }

  .explanation {
    max-width: 1114px;
    text-align: start;
    margin-inline-start: auto;
    margin-inline-end: auto;    /* margin-inline-start: 158px;*/
  }

  .all_description {
    max-width: 446px;
    padding-inline-end: $base-padding * 32;
  }

  .sport_app__download_navigation__list_item {
    margin-inline-end: $base-margin;
  }

  .download__navigation {
    justify-content: unset;
    margin: $base-margin * 0;
  }

}

.download {
  margin: 0;
}
