@import "variable";

.start_game__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: $interface-link-color;
  margin-block-start: $base-margin * 3.5;
}

.user_interface {
  margin: $base-margin * 1.4;
  max-height: 343px;
}

.user_interface__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  padding-block-end: $base-padding * 1.7;
}

.user_interface__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.learn_more {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $interface-link-color;
}

.interface_container {
  padding-block-end: $base-padding * 25;
}

.interface {
  background-image: url('../img/bg_friendly_user_interface.png');
  background-position: 50% 3rem;
}
