@import "variable";

.sky_sport {
  padding-block-end: $base-padding;
  padding-inline-end: $base-padding;
  padding-inline-start: $base-padding;
}

.sky_sport__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.sky_sport__header {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: $base-color;
  // padding-block-end: 52px;
}

.sport_link {
  color: transparent;
}

.operators__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.sport_link {
padding-block-start: 16px;
padding-block-end: 16px;
padding-inline-start: 35px;
padding-inline-end: 35px;

}

.sport_tv {
  background-image: url('../img/logo_sports_tv.svg');
  background-repeat: no-repeat;
  // background-position: ;
}

.sport {
  background-image: url('../img/logo_sports_channel.svg');
  background-repeat: no-repeat;
  // background-position: ;
}

.nbc {
  background-image: url('../img/logo_nbc_sports.svg');
  background-repeat: no-repeat;
  // background-position: ;
}

.designer {
  background-image: url('../img/logo_designer_technology.svg');
  background-repeat: no-repeat;
  // background-position: ;
}

.dn {
  background-image: url('../img/logo_designer_news.svg');
  background-repeat: no-repeat;
  // background-position: ;
}

.sky_logo {
  background-image: url('../img/logo_sky_sports.svg');
  background-repeat: no-repeat;
  // background-position: ;
}
