@import "variable";

.sky_sport {
  padding-block-end: $base-padding;
  padding-inline-end: $base-padding;
  padding-inline-start: $base-padding;
}

.sky_sport__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.sky_sport__header {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: $base-color;
  padding-block-end: 52px;
}

.sport_link {
  color: transparent;
}

.operators__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
