@import "variable";

.sky_sport {
  padding-block-end: $base-padding;
  padding-inline-end: $base-padding;
  padding-inline-start: $base-padding;
}

.sky_sport__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}

.sky_sport__header {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: $base-color;
  // padding-block-end: 52px;
}

.sport_link {
  color: transparent;
}

.operators__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.sport_link {
  padding-inline-start: 35px;
  padding-inline-end: 35px;

}

.sky_sportps {
  padding: 1rem;
}

.sport_tv {
  background-image: url('../img/logo_sports_tv.svg');
  background-repeat: no-repeat;
  margin-block-start: 0;
  padding-inline-end: 60px;
  padding-block-end: 14px;
  margin-top: -17px;
}

.sport {
  background-image: url('../img/logo_sports_channel.svg');
  background-repeat: no-repeat;
  margin: 0;
}

.nbc {
  background-image: url('../img/logo_nbc_sports.svg');
  background-repeat: no-repeat;
}

.designer {
  background-image: url('../img/logo_designer_technology.svg');
  background-repeat: no-repeat;
}

.dn {
  background-image: url('../img/logo_designer_news.svg');
  background-repeat: no-repeat;
}

.sky_logo {
  background-image: url('../img/logo_sky_sports.svg');
  background-repeat: no-repeat;
  padding-inline-end: 46px;
}

.sky_sports__logo {
  padding-top: 1rem;
}

@media(min-width: 1025px) {
  /* Sky sport */
  .sky_sports_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 0;
  }

  .sky_sports__logo {
    padding-top: 28px;
  }

  .sky_sport__TV {
    margin: 0;
  }

  .sky_sportps {
    margin: 25px;
  }

  .operators {
    padding-top: 20px;
  }

  .operators__list_item {
    margin-inline-end: $base-margin * 2;
  }
}
