body {
  text-align: center;
   /* background-color: #E5E5E5; */
   margin: 0;
}

.masthead {
  /* max-width: 1477px; */
  /* transform: translate(10%, 10%); */
  /* margin: auto; */
  background-color: rgb(244, 246, 249);
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
  /* max-height: 700px; */
  margin-inline-start: ;
}

.sport_app {
  max-width: 500px;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
 }

 .bg-header {
   display: none;
 }

.explanation {
  margin-inline-start: auto;
  margin-inline-end: auto;
}
