body {
  text-align: center;
   background-color: #E5E5E5;
   margin: 0;
}

.sport_app_masthead {
  background-color: rgb(244, 246, 249);
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
  height: 525px;

}

.sport_app {
  max-width: 500px;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
 }

 .bg-header {
   display: none;
 }
