body {
  max-width: 360px;
  text-align: center;
  background-color: #E5E5E5;;
}

.sport_app_masthead {
  background-color: rgb(244, 246, 249);
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  height: 525px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
 }
