.sport_app__explanation--download {
  padding-block-end: 60px;
}

.sport_app__explanation--download_navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.sport_app__download_navigation__list_item {
  margin: 0;
}
