.sport_app__explanation--download {
  padding-block-end: calc(var(--padding) * 4);
}

.sport_app__explanation--download_navigation {
  display: var(--display);
  justify-content: space-around;
  margin: calc(var(--margin) * 0);
  padding: calc(var(--padding) * 0);
}

.sport_app__download_navigation__list_item {
  margin: calc(var(--margin) * 0);
}
