/* These files are for the header */
.masthead_heading--logo {
  padding-block-start: 30px;
  padding-block-end: 50px;
  margin: 0rem; }

.masthead_heading__image {
  width: 120px;
  height: 60px; }

body {
  text-align: center;
  margin: 0rem; }

.masthead {
  background-color: #f4f6f9;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem; }

.sport_app {
  max-width: 500px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.bg-header {
  display: none; }

.explanation {
  margin-inline-start: auto;
  margin-inline-end: auto; }

.download {
  padding-block-end: 4rem; }

.download__navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-inline-start: 1rem;
  padding: 0rem;
  padding-block-start: 5rem; }

.app_store {
  background-image: url("../img/apple_store.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.google_play {
  background-image: url("../img/google_play.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-inline-start: 2rem; }

.download__list_item__link {
  color: transparent;
  padding: 3rem; }

@font-face {
  font-family: 'Lato';
  src: local("lato bold"), local("lato-bold"), url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("lato regular"), local("lato-regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.explanation__link {
  font-family: 'Lato';
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #333333; }

.description {
  font-family: 'Lato';
  font-size: 16px;
  line-height: 26px; }

@media (min-width: 1025px) {
  .bg-header {
    display: block;
    margin-block-start: 1rem; }
  .masthead {
    text-align: center;
    display: flex;
    padding: 0;
    background-image: url("../img/bg__header.png");
    background-repeat: no-repeat;
    background-position: 100% 0; }
  .masthead_heading--logo {
    font-size: 33px;
    line-height: 48px;
    letter-spacing: 0.03em;
    margin: 0rem;
    padding-block-end: 130px; }
  .desciption {
    font-size: 15px;
    line-height: 28px;
    padding-block-end: 0rem; }
  .explanation {
    max-width: 1114px;
    text-align: start;
    margin-inline-start: auto;
    margin-inline-end: auto;
    /* margin-inline-start: 158px;*/ }
  .all_description {
    max-width: 446px;
    padding-inline-end: 32rem; }
  .sport_app__download_navigation__list_item {
    margin-inline-end: 1rem; }
  .download__navigation {
    justify-content: unset;
    margin: 0rem; } }

.download {
  margin: 0; }

:root {
  --margin: 1rem;
  --padding: 1rem;
  --display: flex; }

/* Interface files */
