@media(min-width: 1040px) {

  .sport_app_masthead {
    background-image: url('../img/bg_header.png');
    background-repeat: no-repeat;
    background-position: 115% 130%;
    background-color: white;
  }

  .sport_app {
    transform: translateX(50%);
    text-align: start;
  }

  .sport_app__explanation--heading {
    font-size: 33px;
    line-height: 48px;
    letter-spacing: 0.03em;
  }

  .sport_app__explanation--content {
    font-size: 15px;
    line-height: 28px;
  }

  .sport_app__explanation--download_navigation {
    justify-content: unset;
  }

  .sport_app__download_navigation__list_item {
    margin-inline-end: var(--margin);
  }
}
