@media(min-width: 1025px) {

  .bg-header {
    display: block;
    margin-block-start: -16px;
  }

  .masthead {
    text-align: center;
    display: flex;
    padding: 0;
  }

  .masthead::after {
    content: url('../img/bg__header.png');
  }

  .masthead_heading--logo {
    font-size: 33px;
    line-height: 48px;
    letter-spacing: 0.03em;
    margin: 0;
    padding-block-end: 130px;
  }

  .desciption {
    font-size: 15px;
    line-height: 28px;
    padding-block-end: 0;
  }

  .explanation {
    text-align: start;
    max-width: 40%;
    margin-inline-start: 158px;
  }

  .sport_app__download_navigation__list_item {
    margin-inline-end: var(--margin);
  }

  .download__navigation {
    justify-content: unset;
    margin: 0;
  }

}

.download {
  margin: 0;
}
