.sport_app__explanation--heading {
  font-family: 'Lato';
  font-size: 30px;
  line-height: 40px;
  color: black;
  letter-spacing: 0.03em;
  color: #333333;
}

.sport_app__explanation--content {
  font-family: 'Lato';
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  margin: 0;
  padding-block-end: 50px;
}
