@media(min-width: 1025px) {

  .bg-header {
    display: block;
    margin-block-start: -16px;
  }

  .masthead {
    display: flex;
  }

  .masthead_heading--logo {
    font-size: 33px;
    line-height: 48px;
    letter-spacing: 0.03em;
  }

  .desciption {
    font-size: 15px;
    line-height: 28px;
  }

  .explanation {
    text-align: start;
    margin-inline-start: 6rem;
  }

  .sport_app__download_navigation__list_item {
    margin-inline-end: var(--margin);
  }
}

.download {
  margin: 0;
}
