@media(min-width: 769px) {

  .sport_app_masthead {
    background-image: url('../img/bg_header.png');
    background-repeat: no-repeat;
    background-position: 90% 0%;
  }

  .sport_app {
    text-align: left;
    margin-inline-start: 163px;
  }

  .sport_app__explanation--heading {
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.03em;
  }

  .sport_app__download_navigation__list_item--link {
    margin-inline-end: 1rem;
  }
}
