@media(min-width: 1025px) {

  .masthead {
    background-image: url('../img/bg_header.png');
    background-repeat: no-repeat;
    background-position: 115% 130%;
    background-color: rgb(244, 246, 249);
  }

  .sport_app {
    transform: translateX(25%);
    text-align: start;
  }

  .masthead_heading--logo {
    font-size: 33px;
    line-height: 48px;
    letter-spacing: 0.03em;
  }

  .desciption {
    font-size: 15px;
    line-height: 28px;
  }

  .sport_app__explanation--download_navigation {
    justify-content: unset;
  }

  .sport_app__download_navigation__list_item {
    margin-inline-end: var(--margin);
  }
}
